<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ILobbyManager" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:3745/LanPartyUtility/LobbyManagerService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILobbyManager"
                contract="Proxy.ILobbyManager" name="NetTcpBinding_ILobbyManager">
                <identity>
                    <userPrincipalName value="CE@team4.de" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>